{% include './eos/hostname.j2' %}

spanning-tree mode mstp
!
{% include './eos/aaa.j2' %}
!
{% include './eos/local_user.j2' %}
!
{% include './eos/interfaces.j2' %}
!
{% if config_context["routes"] is defined %}
{% if config_context["routes"]["static"] is defined %}
{% for static in config_context["routes"]["static"] %}
{{ static }}
{% endfor %}
{% endif %}
{% endif %}
!
ip routing
!
{% if config_context["bgp"] is defined %}
{% include './eos/bgp.j2' %}
{% endif %}
!
{% include './eos/services.j2' %}
!
end
