router bgp {{ config_context["bgp"]["asn"] }}
   router-id {{ config_context["bgp"]["rid"] }}
{% for neighbor in config_context["bgp"]["neighbors"] %}
   neighbor {{ neighbor["ip"] }} remote-as {{ neighbor["remote-asn"] }}
{% endfor %}
{% for network in config_context["bgp"]["networks"] %}
   network {{ network }}
{% endfor %}
